<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

        <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>


<section>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam totam dignissimos, perferendis in laboriosam quaerat rem? Enim assumenda omnis labore dolor cumque, a, et, beatae in iure vitae consectetur esse.</p>
<span class="highlight">5</span>
</section>


<script>
$(".highlight").on("click", function() {
    alert($(this).text());
});
</script>
</body>
</html>